<h2><%= @region.name %></h2>

<%= render "posts/form", region: @region, post: @post %>

<h3>Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <div class="post-in-list">
        Title: <%= link_to post.title, region_post_path(@region, post) %>
        <br />
        Description: <%= post.body %>
        <br .>
        Posted by <%= post.user.email %>
      </div>
    </li>
  <% end %>
</ul>
