<h2><%= @region.name %></h2>

<%= form_for [@region, @post]  do |form| %>
  <div>
  <%= form.label :title %>
  <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.submit %>
<% end %>

<h3>Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, region_post_path(@region, post) %>
      <p><%= post.body %></p>
    </li>
  <% end %>
</ul>
